
.horizontal-divider { 
    width:100%; 
    height:1px; 
    background: #fff 
}


.set-container { 
    /*border-bottom: 1px solid black;*/
}

.alternateDivColor:nth-of-type(even) {
    /*background: #e0e0e0;*/
    background-color: rgba(0, 0, 0, 0.05);
}

.bot-padding-1 {
    padding-bottom: 1em;
}

.top-padding-1 {
    padding-top: 1em;
}

.bot-margin-1 {
    margin-bottom: 1em;
}

.top-margin-1 {
    margin-top: 1em;
}

