

<div ng-controller="programCreatorController">
    <form class="" role="form">
        <div class="input-group">
            <label class="label label-primary" for="name">Name</label>
            <input id="name" class="form-control" ng-model="newProgram.Name"/>
            
            <div class="btn btn-primary"
                 ng-click="create()">Create</div>
        </div>
    </form>
</div>