
<div ng-controller="programController">
    <h3>You're logged in as @User.Identity.Name</h3>

    <div class="h3">
        Current program: <strong>{{ currentProgram.name }}</strong>
    </div>
    <div class="btn btn-primary" ng-click="selectDay(currentWorkout)">Select day {{ currentWorkout.order }}</div>
        
    <div ng-show="currentWorkout == selectedDay" ng-repeat="exercise in currentWorkout.exercises | orderBy: 'order'">
        <a href="javascript:;" ng-click="selectExercise(exercise)" class="btn">
            {{ exercise.exercise.name }}
        </a>
        <div class="glyphicon glyphicon-remove btn" ng-click="removeExercise(exercise)"></div>

        <div ng-show="selectedExercise == exercise">
            <div>Exercise: {{ selectedExercise.exercise.name }}</div>

            <div class="row">
                <div class="h4">Sets</div>

                <div ng-repeat="set in selectedExercise.sets" class="set-container">
                    <div class="glyphicon glyphicon-remove btn" ng-click="removeSet(set)"></div>
                    <div>Reps: {{ set.reps }}</div>
                    <div>One rep max percentage: {{ set.ormPercentage }}</div>
                    <br />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <input ng-model="newSet.reps" placeholder="Repetitions" min="1" max="30"/>
                </div>

                <div class="col-sm-4">
                    <input ng-model="newSet.ormPercentage" type="number" max="100" min="10" ng-init="newSet.ormPercentage = 50.0" />
                </div>
            </div>

            <div ng-click="addSet()" class="btn btn-primary">Add set</div>
        </div>
    </div>

    <select ng-options="exercise as exercise.name for exercise in allExercises" ng-model="selectedExerciseToAdd"></select>
    <div ng-show="selectedExerciseToAdd != null" class="btn btn-primary" ng-click="addExercise(selectedExerciseToAdd)">Add exercise</div>

    <div>
        <div class="btn btn-primary" ng-click="addDay()">Add day</div>
    </div>

    <div>
        <span class="glyphicon glyphicon-plus"></span><span>New</span>
    </div>
</div>