@{
    ViewBag.Title = "Profile";
}

<div ng-controller="profileController">
    <div ng-show="programs.length > 1">
        <div class="btn text-info" ng-click="alert('I am not yet implemented')">Change program?</div>
    </div>

    <div ng-show="currentProgram.workoutDays == null || currentProgram.workoutDays.length < 1">
        <div>
            Seems there are no workoutdays in your program. <a data-ng-href="/Program">Go here</a> to edit your current program.
            <br />
            Or click <a href="/Program/NewUser">here</a> to change your current program
        </div>
    </div>

    <div class="row">
        <table class="table" ng-show="currentExercise">
            <caption class="h4">{{ currentExercise.exercise.name }}</caption>
            <thead>
                <tr>
                    <th>Reps</th>
                    <th>Weight</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="set in currentExercise.sets | orderBy: 'order'">
                    <td> {{ set.reps }}</td>
                    <td ng-show="userExercises[currentExercise.exercise.name] != null"> {{ (userExercises[currentExercise.exercise.name].oneRepetitionMax * set.ormPercentage) / 100 }}kg </td>
                    <td ng-show="userExercises[currentExercise.exercise.name] == null">
                        <a data-ng-href="#" ng-click="editExercise(currentExercise)">Weight needs to be set</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div ng-show="currentExercise">
            <div ng-show="currentExercise != currentWorkout.exercises[currentWorkout.exercises.length - 1]" class="col-sm-2 col-xs-4 pull-right btn btn-primary" ng-click="finishExercise()">Next</div>
            <div ng-show="currentExercise == currentWorkout.exercises[currentWorkout.exercises.length - 1]" class="col-sm-2 col-xs-4 pull-right btn btn-primary" ng-click="finishWorkout()">Finished!</div>
        </div>
        <div ng-show="!currentExercise" class="col-sm-2 btn btn-primary" ng-click="getNextWorkout()">Next workout</div>
    </div>

    <div class="horizontal-divider">
    </div>

    <div class="row">
        <div ng-repeat="exercise in currentWorkout.exercises">
            <div>{{ exercise.Name }} </div>
        </div>
    </div>



    <div class="row horizontal-divider top-margin-1 top-padding-1">
    </div>

    <div class="row h3">Completed workouts</div>
    <div ng-repeat="workout in completedWorkouts">
        <div>{{ workout.when }}</div>
    </div>
    
    <script type="text/ng-template" id="dialog1.tmpl.html">
        <md-dialog aria-label="{{ exercise.Name }}">
            <form>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Set yo lifts for {{ exercise.exercise.name }}</h2>
                        <span flex></span>
                    </div>
                </md-toolbar>
                <md-dialog-content style="max-width:800px;max-height:810px; ">
                    <div>
                        <md-input-container>
                            <label>Set your one repetition max</label>
                            <input ng-model="orm">
                        </md-input-container>
                    </div>
                </md-dialog-content>

                <div class="md-actions" layout="row">
                    <md-button ng-click="setWeight(orm)">
                        Set weight
                    </md-button>
                </div>
            </form>
        </md-dialog>
    </script>

</div>