
@{
    ViewBag.Title = "Profile";
}

<div ng-controller="routineController">
    <div ng-show="programs.length > 1">
        <div class="btn text-info" ng-click="alert('I am not yet implemented')">Change program?</div>
    </div>
    
    @* Current exercise *@
    <div class="row">        
        <table class="table">
            <caption class="h4">{{ currentExercise.exercise.name }}</caption>
            <thead>
                <tr>
                    <th class="">Reps</th>
                    <th>Weight</th>
                    <th>Order</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="set in currentExercise.sets">
                    <td> {{ set.reps }}</td>
                    <td> {{ (exercises[currentExercise.exercise.name] * set.ormPercentage) / 100 }}kg </td>
                    <td> {{ set.order }} </td>
                </tr>
            </tbody>
        </table>
        
        @*<div class="col-sm-offset-7 col-sm-3">Exercise {{ lastSetWorkout + 1 }} of {{ currentWorkout.exercises.length }}</div>*@
        <div ng-show="lastSetWorkout < currentWorkout.exercises.length - 1" class="col-sm-2 btn btn-primary" ng-click="finishExercise()">Next</div>
        <div ng-show="lastSetWorkout >= currentWorkout.exercises.length - 1" class="col-sm-2 btn btn-primary" ng-click="finishExercise()">Finished!</div>
    </div>
    
    <div class="horizontal-divider">
    </div>

    <div class="row">
        <div ng-repeat="exercise in currentWorkout.exercises">
            <div>{{ exercise.Name }} </div>
        </div>
    </div>
    
    
    
    <div class="row horizontal-divider">
    </div>
    
    <div ng-repeat="workout in pastWorkouts">
        
    </div>
</div>